// Place all the styles related to the gamingpins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pins {
  margin: 100px auto;
}

.box {
  margin: 0px 0px 10px 10px;
  width: 300px;
}

.box img {
  width: 100%;
}